In [70]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import pickle

In [148]:
df = pd.read_excel('trade.xls', header=4)

C:\Users\admin\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [149]:
df.head()

,기간,수출건수,수출금액,수입건수,수입금액,무역수지
0,총계,"141,678,743","9,015,636,102","258,838,146","8,219,381,361","796,254,741"
1,2000.01,"258,896","12,162,425","246,432","12,594,623","-432,198"
2,2000.02,"256,293","12,676,042","242,907","12,023,652","652,390"
3,2000.03,"313,910","14,429,703","293,016","14,212,011","217,692"
4,2000.04,"293,464","13,522,040","268,239","13,344,532","177,508"

In [150]:
df = df.iloc[1:, :]

In [151]:
df.head()

,기간,수출건수,수출금액,수입건수,수입금액,무역수지
1,2000.01,"258,896","12,162,425","246,432","12,594,623","-432,198"
2,2000.02,"256,293","12,676,042","242,907","12,023,652","652,390"
3,2000.03,"313,910","14,429,703","293,016","14,212,011","217,692"
4,2000.04,"293,464","13,522,040","268,239","13,344,532","177,508"
5,2000.05,"315,342","14,636,755","283,452","13,283,356","1,353,399"

In [174]:
X = df.iloc[:,1:]

In [115]:
X.head()

,수출건수,수출금액,수입건수,수입금액,무역수지
1,"258,896","12,162,425","246,432","12,594,623","-432,198"
2,"256,293","12,676,042","242,907","12,023,652","652,390"
3,"313,910","14,429,703","293,016","14,212,011","217,692"
4,"293,464","13,522,040","268,239","13,344,532","177,508"
5,"315,342","14,636,755","283,452","13,283,356","1,353,399"

In [116]:
df.head()

,기간,수출건수,수출금액,수입건수,수입금액,무역수지
1,2000.01,"258,896","12,162,425","246,432","12,594,623","-432,198"
2,2000.02,"256,293","12,676,042","242,907","12,023,652","652,390"
3,2000.03,"313,910","14,429,703","293,016","14,212,011","217,692"
4,2000.04,"293,464","13,522,040","268,239","13,344,532","177,508"
5,2000.05,"315,342","14,636,755","283,452","13,283,356","1,353,399"

In [168]:
df.head()

,기간,수출건수,수출금액,수입건수,수입금액,무역수지
1,2000.01,"258,896","12,162,425","246,432","12,594,623","-432,198"
2,2000.02,"256,293","12,676,042","242,907","12,023,652","652,390"
3,2000.03,"313,910","14,429,703","293,016","14,212,011","217,692"
4,2000.04,"293,464","13,522,040","268,239","13,344,532","177,508"
5,2000.05,"315,342","14,636,755","283,452","13,283,356","1,353,399"

In [175]:
y = df['기간']

In [176]:
X = X.values.reshape(-1,5)

In [177]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1)

In [178]:
X_train.shape

(233, 5)

In [179]:
X_test.shape

(26, 5)

In [180]:
X_test[0][0] = X_test[0][0].strip()

In [181]:
for i in range(len(X_test)):
    for j in range(5):
        X_test[i][j] = X_test[i][j].strip()

In [182]:
X_test

array([['395,862', '23,076,612', '382,084', '20,311,965', '2,764,647'],
       ['430,438', '30,207,444', '475,429', '29,223,201', '984,243'],
       ['671,793', '41,081,553', '1,292,895', '32,388,783', '8,692,770'],
       ['399,190', '22,872,505', '405,755', '21,244,490', '1,628,014'],
       ['564,264', '47,329,817', '1,060,246', '45,053,406', '2,276,411'],
       ['459,431', '35,991,776', '530,464', '37,110,561', '-1,118,785'],
       ['313,861', '13,306,959', '277,514', '11,554,834', '1,752,125'],
       ['596,021', '49,461,377', '1,398,481', '43,909,896', '5,551,481'],
       ['315,342', '14,636,755', '283,452', '13,283,356', '1,353,399'],
       ['434,003', '28,949,627', '562,740', '27,408,191', '1,541,437'],
       ['299,381', '11,766,192', '273,851', '11,337,826', '428,366'],
       ['595,321', '47,905,028', '1,320,938', '43,106,074', '4,798,954'],
       ['315,351', '14,989,068', '288,458', '14,160,418', '828,650'],
       ['648,450', '50,843,799', '1,509,868', '37,959,391', '12,884,408'],
       ['358,783', '14,676,092', '322,745', '13,523,642', '1,152,450'],
       ['580,722', '47,805,246', '1,014,047', '43,381,537', '4,423,709'],
       ['564,950', '45,105,389', '1,291,482', '39,283,025', '5,822,365'],
       ['474,626', '37,850,247', '538,047', '38,260,401', '-410,154'],
       ['591,768', '46,554,512', '1,261,592', '36,598,398', '9,956,114'],
       ['419,401', '25,826,192', '436,228', '23,849,552', '1,976,641'],
       ['497,032', '31,908,462', '596,970', '27,679,764', '4,228,698'],
       ['363,841', '14,173,177', '332,749', '12,698,101', '1,475,075'],
       ['991,924', '44,710,025', '2,779,581', '42,276,684', '2,433,340'],
       ['583,813', '47,577,183', '1,517,623', '42,607,483', '4,969,700'],
       ['552,719', '47,162,605', '953,327', '41,993,629', '5,168,976'],
       ['618,379', '49,064,392', '1,522,225', '45,558,675', '3,505,717']],
      dtype=object)

In [184]:
for i in range(len(X_train)):
    for j in range(5):
        X_train[i][j] = X_train[i][j].strip()

In [188]:
X_train = pd.DataFrame(X_train)

In [166]:
df.columns

Index(['기간', '수출건수', '수출금액', '수입건수', '수입금액', '무역수지'], dtype='object')

In [167]:
for i in df.columns:
    df[i] = pd.to_numeric(df[i], errors='ignore')

In [186]:
from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier(random_state=156)
dt_clf.fit(X_train,y_train)

ValueError: could not convert string to float: '427,265'