# 학습 테스트 데이터 분리X

In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
iris = load_iris()
dt_clf = DecisionTreeClassifier()
dt_clf.fit(iris.data, iris.target)

# 학습 데이터 세트로 예측 수행
pred = dt_clf.predict(iris.data)
accuracy_score(iris.target, pred)

1.0

In [3]:
dt_clf.predict([[4.2, 2.5, 0.1, 1.2]])

array([0])

# 학습/테스트 데이터 분리O

In [9]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [8]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [7]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [10]:
train_test_split(iris.data, iris.target)

[array([[4.7, 3.2, 1.3, 0.2],
        [5.9, 3. , 5.1, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [4.9, 3.1, 1.5, 0.1],
        [5.5, 3.5, 1.3, 0.2],
        [5.5, 2.4, 3.8, 1.1],
        [6. , 3. , 4.8, 1.8],
        [5. , 3.2, 1.2, 0.2],
        [5.2, 3.5, 1.5, 0.2],
        [6.3, 2.9, 5.6, 1.8],
        [5.5, 2.6, 4.4, 1.2],
        [5.8, 4. , 1.2, 0.2],
        [5.6, 2.7, 4.2, 1.3],
        [6.3, 2.5, 5. , 1.9],
        [5.8, 2.6, 4. , 1.2],
        [6.3, 3.4, 5.6, 2.4],
        [6.5, 3. , 5.5, 1.8],
        [5.7, 3. , 4.2, 1.2],
        [5.8, 2.7, 3.9, 1.2],
        [5.8, 2.7, 4.1, 1. ],
        [6.4, 2.9, 4.3, 1.3],
        [5.6, 2.9, 3.6, 1.3],
        [6.8, 3. , 5.5, 2.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.1, 3.5, 1.4, 0.3],
        [4.8, 3. , 1.4, 0.3],
        [4.6, 3.2, 1.4, 0.2],
        [5.5, 2.5, 4. , 1.3],
        [4.8, 3.1, 1.6, 0.2],
        [6.1, 3. , 4.6, 1.4],
        [5.1, 3.8, 1.5, 0.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.4, 3.9, 1.7, 0.4],
        [6.3, 2.5, 4.9, 1.5],
        [5.4, 3.9, 1.3, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [6.3, 3.3, 4.7, 1.6],
        [5.1, 2.5, 3. , 1.1],
        [6.2, 2.8, 4.8, 1.8],
        [7.3, 2.9, 6.3, 1.8],
        [5.9, 3. , 4.2, 1.5],
        [6.2, 3.4, 5.4, 2.3],
        [6.4, 3.1, 5.5, 1.8],
        [4.6, 3.1, 1.5, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [6.6, 3. , 4.4, 1.4],
        [5.8, 2.8, 5.1, 2.4],
        [5.6, 3. , 4.5, 1.5],
        [5.4, 3.7, 1.5, 0.2],
        [6.4, 2.8, 5.6, 2.1],
        [6.2, 2.2, 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.4, 1.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.2, 4.1, 1.5, 0.1],
        [5.3, 3.7, 1.5, 0.2],
        [6.5, 3.2, 5.1, 2. ],
        [6.5, 3. , 5.8, 2.2],
        [5.9, 3.2, 4.8, 1.8],
        [4.4, 3.2, 1.3, 0.2],
        [7.7, 2.8, 6.7, 2. ],
        [5.4, 3. , 4.5, 1.5],
        [6.1, 2.8, 4. , 1.3],
        [6.5, 3. , 5.2, 2. ],
        [4.4, 2.9, 1.4, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.5, 4.2, 1.4, 0.2],
        [4.5, 2.3, 1.3, 0.3],
        [4.8, 3.4, 1.6, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [6.3, 2.7, 4.9, 1.8],
        [5. , 3.4, 1.6, 0.4],
        [5.6, 2.8, 4.9, 2. ],
        [5.6, 3. , 4.1, 1.3],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [7.2, 3.2, 6. , 1.8],
        [4.3, 3. , 1.1, 0.1],
        [5.7, 3.8, 1.7, 0.3],
        [5.6, 2.5, 3.9, 1.1],
        [6. , 2.2, 4. , 1. ],
        [6.9, 3.2, 5.7, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.2, 2.9, 4.3, 1.3],
        [6. , 2.2, 5. , 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [4.4, 3. , 1.3, 0.2],
        [5.8, 2.7, 5.1, 1.9],
        [6.7, 3.3, 5.7, 2.1],
        [5.1, 3.8, 1.9, 0.4],
        [6.4, 2.8, 5.6, 2.2],
        [7.2, 3. , 5.8, 1.6],
        [5.5, 2.3, 4. , 1.3],
        [5. , 2.3, 3.3, 1. ],
        [5. , 3.5, 1.6, 0.6],
        [6.8, 3.2, 5.9, 2.3],
        [5.7, 2.9, 4.2, 1.3],
        [6.7, 3. , 5.2, 2.3],
        [7.7, 3. , 6.1, 2.3],
        [7.6, 3. , 6.6, 2.1],
        [6.7, 3. , 5. , 1.7],
        [5.1, 3.7, 1.5, 0.4],
        [4.8, 3.4, 1.9, 0.2],
        [6.4, 2.7, 5.3, 1.9],
        [5.1, 3.4, 1.5, 0.2],
        [6. , 2.9, 4.5, 1.5],
        [4.9, 3.6, 1.4, 0.1],
        [6.4, 3.2, 4.5, 1.5],
        [5. , 3.3, 1.4, 0.2],
        [5.2, 3.4, 1.4, 0.2]]),
 array([[7.1, 3. , 5.9, 2.1],
        [5.7, 2.6, 3.5, 1. ],
        [6.1, 3. , 4.9, 1.8],
        [5.7, 2.8, 4.1, 1.3],
        [5.1, 3.3, 1.7, 0.5],
        [7.7, 2.6, 6.9, 2.3],
        [4.9, 3. , 1.4, 0.2],
        [6.4, 3.2, 5.3, 2.3],
        [5.4, 3.4, 1.7, 0.2],
        [5. , 2. , 3.5, 1. ],
        [5. , 3. , 1.6, 0.2],
        [4.9, 2.5, 4.5, 1.7],
        [5.1, 3.5, 1.4, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.7, 2.5, 5. , 2. ],
        [4.8, 3. , 1.4, 0.1],
        [6.7, 3.1, 5.6, 2.4],
        [7.2, 3.6, 6.1, 2.5],
        [6.8, 2.8, 4.8, 1.4],
        [6.1, 2.8, 4.7, 1.2],
        [7. , 3.2, 4.7, 1.4],
        [6.9, 3.1, 4.9, 1.5],
        [6.7, 3.1, 4.7, 1.5],
        [6. , 2.7, 5.1, 1.6],
        [6.1, 2.9, 4.7, 1.4],
        [5.1, 3.8, 1.6, 0.2],
        [7.9, 3.8, 6.4, 2. ],
        [4.6, 3.4, 1.4, 0.3],
        [6.1, 2.6, 5.6, 1.4],
        [7.4, 2.8, 6.1, 1.9],
        [6.3, 2.8, 5.1, 1.5],
        [6.9, 3.1, 5.4, 2.1],
        [5.2, 2.7, 3.9, 1.4],
        [4.9, 3.1, 1.5, 0.2],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.7, 3.8, 6.7, 2.2]]),
 array([0, 2, 2, 0, 0, 1, 2, 0, 0, 2, 1, 0, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1,
        2, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 2, 2, 1, 2, 2,
        0, 0, 1, 2, 1, 0, 2, 1, 1, 1, 2, 0, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0,
        0, 0, 0, 0, 0, 0, 2, 0, 2, 1, 1, 1, 2, 0, 0, 1, 1, 2, 2, 1, 2, 1,
        0, 2, 2, 0, 2, 2, 1, 1, 0, 2, 1, 2, 2, 2, 1, 0, 0, 2, 0, 1, 0, 1,
        0, 0]),
 array([2, 1, 2, 1, 0, 2, 0, 2, 0, 1, 0, 2, 0, 0, 2, 0, 2, 2, 1, 1, 1, 1,
        1, 1, 1, 0, 2, 0, 2, 2, 2, 2, 1, 0, 1, 2, 2, 2])]

In [11]:
dt_clf = DecisionTreeClassifier()
iris = load_iris()

In [45]:
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3, random_state=121)

In [46]:
dt_clf.fit(X_train, y_train)
pred = dt_clf.predict(X_test)
accuracy_score(y_test, pred)

0.9555555555555556

# K폴드 교차 검증

In [47]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold 
import numpy as np

In [51]:
iris = load_iris()
dt_clf = DecisionTreeClassifier(random_state=156)

# 5개의 폴드 세트로 분리하는 KFold 객체와 폴드 세트별 정확도를 담을 리스트 생성
kfold = KFold(n_splits=5, shuffle=True)
cv_accuracy = []
iris.data.shape[0]

150

In [57]:
n_iter =0

# KFold 객체의 split()를 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환
for train_index, test_index in kfold.split(iris.data):
    
    # kfold.split()로 반환된 인덱스를 이용해 학습용, 검증용 테스트 데이터 추출
    print(train_index)
    print(test_index)
    X_train, X_test = iris.data[train_index], iris.data[test_index]
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    
    # 학습 및 예측
    dt_clf.fit(X_train, y_train)
    pred = dt_clf.predict(X_test)
    n_iter += 1
    
    # 반복시마다 정확도 측정
    accuracy = np.round(accuracy_score(y_test, pred), 4)
    train_size = X_test.shape[0]
    test_size = X_test.shape[0]
    print('\n#{} 교차검증정확도:{}, 학습데이터 크기:{}, 검증데이터 크기:{}'.format(n_iter, accuracy, train_size, test_size))
    print('#{} 검증 세트 인덱스:{}'.format(n_iter, test_index))
    cv_accuracy.append(accuracy)
    
# 개별 iteration별 정확도를 합하여 평균 정확도 계산
print('\n## 평균 검증 정확도:', np.mean(cv_accuracy))

[  1   2   3   5   6   7   9  10  12  13  14  15  16  17  20  22  23  24
  25  26  27  28  29  30  31  34  35  36  37  38  41  43  44  46  47  48
  49  50  51  52  53  54  55  56  57  58  59  60  61  63  64  67  68  69
  71  73  74  76  77  79  80  81  82  83  84  85  86  87  88  89  91  92
  93  95  96  97  99 100 101 102 103 104 105 106 107 108 109 110 111 112
 113 118 119 120 121 122 124 125 126 127 128 129 131 132 133 134 135 137
 138 139 140 141 142 143 144 145 146 147 148 149]
[  0   4   8  11  18  19  21  32  33  39  40  42  45  62  65  66  70  72
  75  78  90  94  98 114 115 116 117 123 130 136]

#1 교차검증정확도:0.9667, 학습데이터 크기:30, 검증데이터 크기:30
#1 검증 세트 인덱스:[  0   4   8  11  18  19  21  32  33  39  40  42  45  62  65  66  70  72
  75  78  90  94  98 114 115 116 117 123 130 136]
[  0   2   3   4   6   7   8  10  11  12  14  16  18  19  20  21  22  23
  26  27  28  29  30  31  32  33  35  39  40  41  42  43  44  45  46  47
  48  49  50  51  52  53  54  55  56  58  59  60  61  62  63  64  65  66
  70  71  72  73  74  75  76  77  78  79  81  82  83  84  85  87  88  90
  91  93  94  97  98 100 101 102 103 104 105 106 107 108 109 110 112 113
 114 115 116 117 119 120 122 123 124 125 126 128 129 130 131 132 133 134
 135 136 137 138 139 141 142 143 145 147 148 149]
[  1   5   9  13  15  17  24  25  34  36  37  38  57  67  68  69  80  86
  89  92  95  96  99 111 118 121 127 140 144 146]

#2 교차검증정확도:0.9667, 학습데이터 크기:30, 검증데이터 크기:30
#2 검증 세트 인덱스:[  1   5   9  13  15  17  24  25  34  36  37  38  57  67  68  69  80  86
  89  92  95  96  99 111 118 121 127 140 144 146]
[  0   1   3   4   5   6   7   8   9  10  11  12  13  15  16  17  18  19
  20  21  22  24  25  26  29  32  33  34  35  36  37  38  39  40  42  43
  44  45  46  47  48  50  51  52  53  54  55  56  57  59  60  61  62  63
  65  66  67  68  69  70  71  72  75  78  79  80  81  82  83  84  85  86
  87  88  89  90  91  92  94  95  96  97  98  99 102 103 104 108 110 111
 113 114 115 116 117 118 119 120 121 123 124 125 126 127 128 129 130 131
 132 133 134 136 140 141 142 144 145 146 147 149]
[  2  14  23  27  28  30  31  41  49  58  64  73  74  76  77  93 100 101
 105 106 107 109 112 122 135 137 138 139 143 148]

#3 교차검증정확도:0.9, 학습데이터 크기:30, 검증데이터 크기:30
#3 검증 세트 인덱스:[  2  14  23  27  28  30  31  41  49  58  64  73  74  76  77  93 100 101
 105 106 107 109 112 122 135 137 138 139 143 148]
[  0   1   2   4   5   6   8   9  10  11  13  14  15  17  18  19  20  21
  23  24  25  26  27  28  30  31  32  33  34  35  36  37  38  39  40  41
  42  43  45  49  51  52  53  56  57  58  59  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  83  85  86  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 104 105 106 107 108 109
 111 112 113 114 115 116 117 118 119 121 122 123 125 126 127 130 134 135
 136 137 138 139 140 141 143 144 146 147 148 149]
[  3   7  12  16  22  29  44  46  47  48  50  54  55  60  81  82  84  87
  88 103 110 120 124 128 129 131 132 133 142 145]

#4 교차검증정확도:0.9667, 학습데이터 크기:30, 검증데이터 크기:30
#4 검증 세트 인덱스:[  3   7  12  16  22  29  44  46  47  48  50  54  55  60  81  82  84  87
  88 103 110 120 124 128 129 131 132 133 142 145]
[  0   1   2   3   4   5   7   8   9  11  12  13  14  15  16  17  18  19
  21  22  23  24  25  27  28  29  30  31  32  33  34  36  37  38  39  40
  41  42  44  45  46  47  48  49  50  54  55  57  58  60  62  64  65  66
  67  68  69  70  72  73  74  75  76  77  78  80  81  82  84  86  87  88
  89  90  92  93  94  95  96  98  99 100 101 103 105 106 107 109 110 111
 112 114 115 116 117 118 120 121 122 123 124 127 128 129 130 131 132 133
 135 136 137 138 139 140 142 143 144 145 146 148]
[  6  10  20  26  35  43  51  52  53  56  59  61  63  71  79  83  85  91
  97 102 104 108 113 119 125 126 134 141 147 149]

#5 교차검증정확도:0.9333, 학습데이터 크기:30, 검증데이터 크기:30
#5 검증 세트 인덱스:[  6  10  20  26  35  43  51  52  53  56  59  61  63  71  79  83  85  91
  97 102 104 108 113 119 125 126 134 141 147 149]

## 평균 검증 정확도: 0.9500099999999999

# Stratified K 폴드

In [150]:
import pandas as pd

iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [151]:
iris_df['label'] = iris.target
iris_df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [152]:
iris_df['label'].value_counts()

0    50
1    50
2    50
Name: label, dtype: int64

In [153]:
kfold = KFold(n_splits=3, shuffle=True)
n_iter = 0
for train_index, test_index in kfold.split(iris_df):
    n_iter += 1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    print('## 교차검증:{}'.format(n_iter))
    print('학습 레이블 데이터 분포 : \n', label_train.value_counts())
    print('검증 레이블 데이터 분포 : \n', label_test.value_counts())

## 교차검증:1
학습 레이블 데이터 분포 :
 1    37
0    32
2    31
Name: label, dtype: int64
검증 레이블 데이터 분포 :
 2    19
0    18
1    13
Name: label, dtype: int64
## 교차검증:2
학습 레이블 데이터 분포 :
 0    36
1    32
2    32
Name: label, dtype: int64
검증 레이블 데이터 분포 :
 1    18
2    18
0    14
Name: label, dtype: int64
## 교차검증:3
학습 레이블 데이터 분포 :
 2    37
0    32
1    31
Name: label, dtype: int64
검증 레이블 데이터 분포 :
 1    19
0    18
2    13
Name: label, dtype: int64

In [154]:
from sklearn.model_selection import StratifiedKFold

In [155]:
from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=3)
n_iter = 0
for train_index, test_index in kfold.split(iris_df, iris_df['label']): # 두번째 인자값으로 결과값이 있어야한다
    n_iter += 1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    print('## 교차검증:{}'.format(n_iter))
    print('학습 레이블 데이터 분포 : \n', label_train.value_counts())
    print('검증 레이블 데이터 분포 : \n', label_test.value_counts())

## 교차검증:1
학습 레이블 데이터 분포 :
 2    34
0    33
1    33
Name: label, dtype: int64
검증 레이블 데이터 분포 :
 0    17
1    17
2    16
Name: label, dtype: int64
## 교차검증:2
학습 레이블 데이터 분포 :
 1    34
0    33
2    33
Name: label, dtype: int64
검증 레이블 데이터 분포 :
 0    17
2    17
1    16
Name: label, dtype: int64
## 교차검증:3
학습 레이블 데이터 분포 :
 0    34
1    33
2    33
Name: label, dtype: int64
검증 레이블 데이터 분포 :
 1    17
2    17
0    16
Name: label, dtype: int64

In [156]:
dt_clf = DecisionTreeClassifier(random_state=156)
skfold = StratifiedKFold(n_splits=3)
n_iter =0
cv_accuracy = []

# KFold 객체의 split()를 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환
for train_index, test_index in skfold.split(iris.data, iris.target):
    
    # kfold.split()로 반환된 인덱스를 이용해 학습용, 검증용 테스트 데이터 추출
    print(train_index)
    print(test_index)
    X_train, X_test = iris.data[train_index], iris.data[test_index]
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    
    # 학습 및 예측
    dt_clf.fit(X_train, y_train)
    pred = dt_clf.predict(X_test)
    n_iter += 1
    
    # 반복시마다 정확도 측정
    accuracy = np.round(accuracy_score(y_test, pred), 4)
    train_size = X_test.shape[0]
    test_size = X_test.shape[0]
    print('\n#{} 교차검증정확도:{}, 학습데이터 크기:{}, 검증데이터 크기:{}'.format(n_iter, accuracy, train_size, test_size))
    print('#{} 검증 세트 인덱스:{}'.format(n_iter, test_index))
    cv_accuracy.append(accuracy)
    
# 개별 iteration별 정확도를 합하여 평균 정확도 계산
print('\n## 평균 검증 정확도:', np.mean(cv_accuracy))

[ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  67  68  69
  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87
  88  89  90  91  92  93  94  95  96  97  98  99 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  50
  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115]

#1 교차검증정확도:0.98, 학습데이터 크기:50, 검증데이터 크기:50
#1 검증 세트 인덱스:[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  50
  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52
  53  54  55  56  57  58  59  60  61  62  63  64  65  66  83  84  85  86
  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104
 105 106 107 108 109 110 111 112 113 114 115 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]
[ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132]

#2 교차검증정확도:0.94, 학습데이터 크기:50, 검증데이터 크기:50
#2 검증 세트 인덱스:[ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  50  51
  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69
  70  71  72  73  74  75  76  77  78  79  80  81  82 100 101 102 103 104
 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122
 123 124 125 126 127 128 129 130 131 132]
[ 34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  83  84
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]

#3 교차검증정확도:0.98, 학습데이터 크기:50, 검증데이터 크기:50
#3 검증 세트 인덱스:[ 34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  83  84
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]

## 평균 검증 정확도: 0.9666666666666667

# cross_val_score()

In [157]:
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris

In [158]:
iris = load_iris()
dt_clf = DecisionTreeClassifier(random_state=156)

# 성능 지표는 정확도(accuracy), 교차 검증 세트는 3개
scores = cross_val_score(dt_clf, iris.data, iris.target, scoring='accuracy', cv=3)
print('교차 검증별 정확도:', np.round(scores,4))
print('평균 검증 정확도:', np.round(np.mean(scores),4))

교차 검증별 정확도: [0.98 0.94 0.98]
평균 검증 정확도: 0.9667

In [159]:
# 평가항목을 추가해서 돌림

In [160]:
scoring = ['accuracy', 'f1_micro']

In [161]:
scores1 = cross_validate(dt_clf, iris.data, iris.target, scoring= scoring, cv=3)

In [162]:
scores1

{'fit_time': array([0.00097036, 0.00099707, 0.00099754]),
 'score_time': array([0.00328827, 0.00199223, 0.0009985 ]),
 'test_accuracy': array([0.98, 0.94, 0.98]),
 'test_f1_micro': array([0.98, 0.94, 0.98])}

In [163]:
dt_clf = DecisionTreeClassifier(random_state=156, )

# GridSearchCV

In [164]:
from sklearn.model_selection import GridSearchCV

In [165]:
# 데이터를 로딩하고 학습 데이터와 테스트 데이터 분리
iris = load_iris()
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.2, random_state=121)

dtree = DecisionTreeClassifier()

# 파라미터를 딕셔너리 형태로 설정
parameters = {
    'max_depth':[1,2,3,4],
    'min_samples_split':[2,3,4]}

In [166]:
grid_dtree = GridSearchCV(dtree, param_grid=parameters, cv=3, refit=True)

In [167]:
# 붓꽃 학습 데이터로 param_grid의 하이퍼 파라미터를 순차적으로 학습/평가
grid_dtree.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [1, 2, 3, 4],
                         'min_samples_split': [2, 3, 4]})

In [168]:
# GridSearchCV 결과를 추출해 DataFrame으로 변환
scores_df = pd.DataFrame(grid_dtree.cv_results_)

In [169]:
scores_df.head(3)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000997,3.893359e-07,0.000334,4.718199e-04,1,2,"{'max_depth': 1, 'min_samples_split': 2}",0.7,0.7,0.7,0.7,1.110223e-16,10
1,0.000665,4.704716e-04,0.000332,4.696845e-04,1,3,"{'max_depth': 1, 'min_samples_split': 3}",0.7,0.7,0.7,0.7,1.110223e-16,10
2,0.000000,0.000000e+00,0.000998,5.840039e-07,1,4,"{'max_depth': 1, 'min_samples_split': 4}",0.7,0.7,0.7,0.7,1.110223e-16,10

In [170]:
scores_df[['params', 'mean_test_score', 'rank_test_score', 'split0_test_score', 'split1_test_score','split2_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.700000,10,0.700,0.7,0.700
1,"{'max_depth': 1, 'min_samples_split': 3}",0.700000,10,0.700,0.7,0.700
2,"{'max_depth': 1, 'min_samples_split': 4}",0.700000,10,0.700,0.7,0.700
3,"{'max_depth': 2, 'min_samples_split': 2}",0.958333,5,0.925,1.0,0.950
4,"{'max_depth': 2, 'min_samples_split': 3}",0.958333,5,0.925,1.0,0.950
5,"{'max_depth': 2, 'min_samples_split': 4}",0.958333,5,0.925,1.0,0.950
6,"{'max_depth': 3, 'min_samples_split': 2}",0.975000,1,0.975,1.0,0.950
7,"{'max_depth': 3, 'min_samples_split': 3}",0.975000,1,0.975,1.0,0.950
8,"{'max_depth': 3, 'min_samples_split': 4}",0.975000,1,0.975,1.0,0.950
9,"{'max_depth': 4, 'min_samples_split': 2}",0.950000,8,0.925,1.0,0.925
10,"{'max_depth': 4, 'min_samples_split': 3}",0.950000,8,0.925,1.0,0.925
11,"{'max_depth': 4, 'min_samples_split': 4}",0.966667,4,0.975,1.0,0.925

# 데이터 전처리
### 레이블 인코딩(문자열 값을 숫자형으로 변환)

In [171]:
from sklearn.preprocessing import LabelEncoder

In [172]:
items = ['TV', '냉장고', '전자레인지', '전자래인지', '컴퓨터', '선풍기', '믹서', '믹서']

In [173]:
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
labels

array([0, 1, 5, 4, 6, 3, 2, 2])

In [174]:
encoder.classes_
# 위에 인코더 된 숫자는 아래의 중복이 없는 리스트의 index를 반환한것

array(['TV', '냉장고', '믹서', '선풍기', '전자래인지', '전자레인지', '컴퓨터'], dtype='<U5')

In [175]:
encoder.inverse_transform(labels)
# 숫자를 다시 문자로

array(['TV', '냉장고', '전자레인지', '전자래인지', '컴퓨터', '선풍기', '믹서', '믹서'],
      dtype='<U5')

In [176]:
encoder.inverse_transform([0])

array(['TV'], dtype='<U5')

# 원-핫 인코딩
고유 값만 1이고 나머지는 0

In [177]:
# 사이킷런 OndeHotEncoder 이용

In [178]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
items = ['TV', '냉장고', '전자레인지', '전자래인지', '컴퓨터', '선풍기', '믹서', '믹서']

In [179]:
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
labels

array([0, 1, 5, 4, 6, 3, 2, 2])

In [180]:
labels.shape

(8,)

In [181]:
oh_encoder = OneHotEncoder()
oh_encoder.fit(labels.reshape(-1,1))
oh_labels = oh_encoder.transform(labels.reshape(-1,1))

In [182]:
oh_labels.toarray().tolist()

[[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0],
 [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]]

In [183]:
iris_df.sample(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
44,5.1,3.8,1.9,0.4,0
71,6.1,2.8,4.0,1.3,1

In [184]:
iris_df.var()

sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
label                0.671141
dtype: float64

# StandarScaler

In [197]:
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [198]:
from sklearn.preprocessing import StandardScaler

In [199]:
iris = load_iris()
scaler = StandardScaler()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

In [200]:
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)

In [206]:
iris_df_scaled

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0             0.222222          0.625000           0.067797          0.041667
1             0.166667          0.416667           0.067797          0.041667
2             0.111111          0.500000           0.050847          0.041667
3             0.083333          0.458333           0.084746          0.041667
4             0.194444          0.666667           0.067797          0.041667
..                 ...               ...                ...               ...
145           0.666667          0.416667           0.711864          0.916667
146           0.555556          0.208333           0.677966          0.750000
147           0.611111          0.416667           0.711864          0.791667
148           0.527778          0.583333           0.745763          0.916667
149           0.444444          0.416667           0.694915          0.708333

[150 rows x 4 columns]

In [201]:
iris_df_scaled.mean()

sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64

In [202]:
iris_df_scaled.var()

sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

# MinMaxScaler

In [203]:
from sklearn.preprocessing import MinMaxScaler

In [204]:
scaler = MinMaxScaler()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

In [205]:
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)

In [208]:
iris_df_scaled.min()

sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64

In [209]:
iris_df_scaled.max()

sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64

In [210]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

# 학습 데이터는 0부터 10까지, 테스트 데이터는 0부터 5까지 값을 가지는 데이터 세트 생성
# Scaler 클래스의 fit(), transform()은 2차원 이상 데이터만 가능하므로 reshape(-1,1)로 차원 변경
train_array = np.arange(0, 11).reshape(-1,1)
test_array = np.arange(0, 6).reshape(-1,1)

In [215]:
# MinMaxScaler 객체에 별도의 feature_range 파라미터 값을 지정하지 않으면 0~1 값으로 변환
scaler = MinMaxScaler()

# fit()하면 train_array 데이터의 최소값이 0, 최대값이 10으로 설정
scaler.fit(train_array)

# 1/10 scale로 train_array 데이터 변환함. 원본 10 -> 1로 변환됨
train_scaled = scaler.transform(train_array)

print('원본 train_array 데이터:', np.round(train_array.reshape(-1),2))
print('Scale된 train_array 데이터:', np.round(train_scaled.reshape(-1),2))

원본 train_array 데이터: [ 0  1  2  3  4  5  6  7  8  9 10]
Scale된 train_array 데이터: [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

# 위의 학습 데이터와 아래의 테스트 데이터의 스케일링이 맞지 않는다
# 테스트 데이터에 다시 fit()을 적용하면 안됨
# 이미 fit()이 적용된 Scaler 객체를 transform()으로 변환해야 한다

In [216]:
# MinMaxScaler에 test_array를 fit()하면 원본 데이터의 최소값이 0, 최대값이 5로 설정
scaler.fit(test_array)

# 1/5 scale로 test_array 데이터 변환함. 원본 5 -> 1로 변환
test_scaled = scaler.transform(test_array)

#test_array의 scale 변환 출력
print('원본 test_array 데이터:', np.round(test_array.reshape(-1),2))
print('Scale된 test_array 데이터:', np.round(test_scaled.reshape(-1),2))

원본 test_array 데이터: [0 1 2 3 4 5]
Scale된 test_array 데이터: [0.  0.2 0.4 0.6 0.8 1. ]

# 아래와 같이 해야함

In [230]:
scaler = MinMaxScaler()
scaler.fit(train_array)
train_scaled = scaler.transform(train_array)
print('원본 train_array 데이터:', np.round(train_array.reshape(-1),2))
print('Scale된 train_array 데이터:', np.round(train_array.reshape(-1),2))

# test_array에 Scale 변환을 할 떄는 반드시 fit()을 호출하지 않고 transform()만으로 변환해야 함
test_scaled = scaler.transform(test_array)
print('\n원본 test_array 데이터:', np.round(test_array.reshape(-1),2))
print('Scale된 test_array 데이터:', np.round(test_array.reshape(-1),2))

원본 train_array 데이터: [ 0  1  2  3  4  5  6  7  8  9 10]
Scale된 train_array 데이터: [ 0  1  2  3  4  5  6  7  8  9 10]

원본 test_array 데이터: [0 1 2 3 4 5]
Scale된 test_array 데이터: [0 1 2 3 4 5]